extends ../layout

include ./pagination

block content
  .page-header
    h1 Post List
    a.btn.btn-primary(href="/posts/add") + Add Post

  if error
    .alert.alert-error= error

  if posts.length
    .posts-list
      each post in posts
        .post-card
          h2= post.title
          .post-meta
            span.category= post.category
            span.date= post.createdAt.toLocaleDateString("id-ID", { day: 'numeric', month: 'short', year: 'numeric' })
          p.post-content= post.content
          .post-actions
            a.btn.btn-success.btn-sm(href=`/post/${post._id}/edit`) Edit
            a.btn.btn-danger.btn-sm(href=`/post/${post._id}/delete`, onclick="return confirm('Are you sure you want to delete this post?')") Delete

    +pagination("/posts", currentPage, totalPages, pages, hasPrevPage, hasNextPage, prevPage, nextPage, totalItems)

  else
    .empty-state
      p Belum ada posts.
      a.btn.btn-primary(href="/posts/add") + Add Post
