mixin pagination(path, currentPage, totalPages, pages, hasPrevPage, hasNextPage, prevPage, nextPage, totalItems)
  if totalPages > 0
    div.pagination
      .page-info Page #{currentPage} of #{totalPages} (#{totalItems} items)
      .pagination-buttons
        if hasPrevPage
          a.page-link(href=`${path}/page/${prevPage}`) &laquo; Prev
        else
          span.page-link.disabled &laquo; Prev

        if totalPages > 1
          each page in pages
            if page === currentPage
              span.page-link.active= page
            else
              a.page-link(href=`${path}/page/${page}`)= page

        if hasNextPage
          a.page-link(href=`${path}/page/${nextPage}`) Next &raquo;
        else
          span.page-link.disabled Next &raquo;
